body {
  padding: 20% 0 100px;
}

.title {
  width: 100%;
}

.backgrounds,
.text-colors {
  text-align: center;
  margin: 0 auto;
  overflow-x: scroll;
}

.scroll {
  width: max-content;
}

.lang a,
.backgrounds a,
.backgrounds img,
.backgrounds label,
.text-colors a {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.65;
  color: #444;
}

.lang a:hover,
.backgrounds a:hover,
.text-colors a:hover {
  opacity: 0.8;
  background: #eee;
}

.lang a {
  line-height: 2.4;
}

.lang .active {
  background: #eee;
}

.slogan {
  position: absolute;
  left: 0;
  font-size: 2.5em;
  width: 100%;
  padding-top: 40vw;
  color: yellow;
}

.preview {
  overflow: hidden;
}

.preview .slogan {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: 20%;
  }

  to {
    left: 0;
  }
}

.carousel-dots {
  font-size: 8px;
}
.carousel-dots .active {
  color: #aaa;
}

.text-colors a {
  background: white;
  border: 1px solid #ccc;
}

.preview img {
  width: 100%;
  transition: 1s;
  left: 0;
}

.clipboard {
  border: 1px solid #ccc;
}
