body {
  padding: 10% 0 100px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Helvetica Neue Bold Wobbly'; /*a name to be used later*/
  src: url('HelveticaNeue-Bold-Wobbly.ttf'); /*URL to font*/
}

main > .container {
  max-width: 650px;
}

.title {
  width: 100%;
}

.backgrounds,
.lang,
.text-colors {
  text-align: center;
  margin: 0 auto;
  overflow-x: scroll;
}

.scroll {
  width: max-content;
}

.lang a,
.backgrounds a,
.backgrounds img,
.backgrounds label,
.text-colors a {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.65;
  color: #444;
}

.backgrounds label {
  background: #eee;
  line-height: 1.8 !important;
}

.lang a:hover,
.backgrounds a:hover,
.backgrounds label:hover,
.text-colors a:hover {
  opacity: 0.8;
  background: #eee;
}

.lang a {
  line-height: 2.4;
  background: white;
  border: 1px solid #ccc;
}

.lang .active {
  background: #eee;
}

.preview {
  font-family: Helvetica Neue Bold Wobbly;
  background-color: #eee;
  background-size: cover;
  font-size: 9vw;
  width: 100%;

  display: flex;
  align-items:center;
  justify-content:center;

  font-weight: bold;
  padding: 6vw;
  color: yellow;
}

.carousel-dots {
  font-size: 8px;
}
.carousel-dots .active {
  color: #aaa;
}

.text-colors a {
  background: white;
  border: 1px solid #ccc;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.clipboard {
  border: 1px solid #ccc;
}
