body {
  padding: 20% 0 100px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.title {
  width: 100%;
}

.backgrounds,
.text-colors {
  text-align: center;
  margin: 0 auto;
  overflow-x: scroll;
}

.scroll {
  width: max-content;
}

.lang a,
.backgrounds a,
.backgrounds img,
.backgrounds label,
.text-colors a {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.65;
  color: #444;
}

.backgrounds label {
  line-height: 1.8 !important;
}

.lang a:hover,
.backgrounds a:hover,
.backgrounds label:hover,
.text-colors a:hover {
  opacity: 0.8;
  background: #eee;
}

.lang a {
  line-height: 2.4;
}

.lang .active {
  background: #eee;
}

.preview {
  background-color: #eee;
  background-size: cover;
  font-size: 10vw;
  width: 100%;

  display: flex;
  align-items:center;
  justify-content:center;

  font-weight: bold;
  padding: 6vw;
  color: yellow;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    padding-left: 30%;
  }

  to {
    padding-left: 10px;
  }
}

.carousel-dots {
  font-size: 8px;
}
.carousel-dots .active {
  color: #aaa;
}

.text-colors a {
  background: white;
  border: 1px solid #ccc;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.clipboard {
  border: 1px solid #ccc;
}
